*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // this defines what 1 rem is
    font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
    padding: 3rem;
    background-color: $color-primary;
}

.container {
    width: 96vw;
    display: grid;  
    grid-template-rows: 10rem auto-fit 20rem;
    grid-template-columns: 40vw 45vw;
    grid-gap: 20px;
    
    margin: 0 auto;
    & > * {
        background-color: azure;
    }
}