*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // this defines what 1 rem is
    font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
    padding: 0rem;
    background-color: $color-primary;
}

.container {
    width: 100%;
    margin: 0 auto;

    &__header {
        background-color: $color-primary;
        border-bottom: 3px solid black; 
        position: fixed;
        top: 0;
        z-index: 500;
    }

    &__home {
        background-color: $color-secondary;
        margin-top: 8.5rem;
    }

    &__about {
        background-color: $color-secondary;
        margin-top: 8.5rem;
    }

    &__projects {
        background-color: $color-secondary;
        margin-top: 8.5rem;
    }

    &__blog {
        background-color: $colorful-blue;
        margin-top: 8.5rem;
    }
}