*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // this defines what 1 rem is
    font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
    padding: 0rem;
    background-color: $color-primary;
}

.container {
    width: 100%;
    margin: 0 auto;

    &__header {
        background-color: $color-primary;
        border-bottom: 3px solid black; 
        position: fixed;
        top: 0;
        z-index: 500;
    }

    &__home {
        background-color: $color-secondary;
        margin-top: $header-height;
    }

    &__loading {
        background-color: $color-secondary;
    }

    &__about {
        background-image: linear-gradient(rgba(white, 0.6),rgba($color-green, 0.6)), url(../../img/backgrounds/green-background.jpg);
        background-size: cover;
        background-position: top;
        position: relative;
        margin-top: $header-height;
    }

    &__projects {
        margin-top: $header-height;
    }

    &__blog {
        background-image: url('../../img/backgrounds/clouds-background.jpg');
        background-color: $colorful-blue;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: $header-height;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}