@mixin bottom-line-break {
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 90%;
        bottom: 0;
        left: 5%;
        border-bottom: 3px double $color-grey-dark-2; 
    }
}

@mixin coloured-btn($color, $border) {
    width: 15rem;
    height: 8rem;
    margin-bottom: 4rem;

    background-color: $color-grey-light-1;
    border: 3px solid $color;
    border-radius: 1rem;
    color: $color;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    position: relative;
    touch-action: manipulation;
    transition: all .1s;
    box-shadow: $shadow-light;
      
    &:active {
        background-color: $color;
        border-color: $border;
        color: $border;
        transform: scale(.95);
    }
}

// MEDIA QUERY MANAGER

/*
0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + : Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { //600px
            @content
        };
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { //900px
            @content
        };
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { //1200px
            @content
        };
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { //1800px
            @content
        };
    }
}