// COLOURS
$color-primary: #FFCAD4;
$color-secondary: #FAEBE3;
$color-tertiary: #F4ACB7;

$color-green: #D8E2DC;
$color-brown: #9D8189;
$color-purple: #d797fc;

$color-primary-2: #cdb4db;
$color-secondary-2: #ffc8dd;
$color-secondary-dark-2: #ffafcc;
$color-secondary-dark-3: #f792b7;
$color-tertiary-2: #bde0fe;
$color-tertiary-dark-2: #a2d2ff;
$color-tertiary-dark-3: #8dc4f7;

$colorful-red: #ff99c8;
$colorful-yellow: #fcf6bd;
$colorful-green: #d0f4de;
$colorful-blue: #a9def9;
$colorful-purple: #e4c1f9;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size:1.6rem;

// SHADOWS
$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

// HEADER HEIGHT
$header-height: 8.5rem;


// PROJECT URLS
$website-url: url(../../img/computer.jpg);