.about {
    margin: 0 3rem;
    padding-top: 2rem;

    &__header-text{
        font-size: 5rem;
        font-weight: 700;
        
        @include respond(phone) { 
            font-size: 3rem;
        }
    }

    &__content {
        font-size: 3rem;
        display: block;
        padding: 2rem 3rem;

        @include respond(phone) { 
            font-size: 2rem;
            padding: 2rem 1rem;
        }

        &__header {
            text-align: center;
            font-size: 3.5rem;
            margin: 2rem 0 3rem;
        }
        &__container {
            text-align: center;
            &__btn {
                @include coloured-btn($color-tertiary-dark-3, white);
            }
        }

        @include respond(tab-port) { 
            display: flex;
            flex-direction: column;
        }

        &-right > .about__content__img {
            float: right;

            @include respond(tab-port) { 
                order: 2;
                align-self: center;
            }
        }

        &-left > .about__content__img {
            float: left;

            @include respond(tab-port) { 
                order: 2;
                align-self: center;
            }
        }  
    }
}