.about {
    margin: 0 3rem;
    padding-top: 2rem;

    &__header-text{
        font-size: 5rem;
        font-weight: 700;
    }

    &__content {
        font-size: 3rem;
        display: block;
        margin-bottom: 4rem;

        &-right {
            & > .about__content__img {
                float: right;
            }
        }

        &-left {
            & > .about__content__img {
                float: left;
            }
        }  
    }
}