.about {
    margin: 0 3rem;
    padding-top: 2rem;

    &__header-text{
        font-size: 5rem;
        font-weight: 700;
    }

    &__content {
        font-size: 3rem;
        display: block;
        padding-bottom: 4rem;

        @include respond(tab-port) { 
            display: flex;
            flex-direction: column;
        }

        &-right > .about__content__img {
            float: right;

            @include respond(tab-port) { 
                order: 2;
                align-self: center;
            }
        }

        &-left > .about__content__img {
            float: left;

            @include respond(tab-port) { 
                order: 2;
                align-self: center;
            }
        }  
    }
}