.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 4rem 6rem;
    margin: 0 3rem;
    padding: 4rem 2rem;

    &__link {
        text-decoration: none;

        &__first {
            grid-column: 1 / 3;
        }
    }

    &__thumbnail {
        position: relative;
        height: 30rem;
        perspective: 200rem;
        -moz-perspective: 200rem;

        &:hover &__side--front {
            transform: rotateY(-180deg);
        }
        &:hover &__side--back {
            transform: rotateY(0);
        }

        &__side {
            width: 100%;
            height: 30rem;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;

            transition: all 1s ease;

            &--front {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                color: $color-grey-dark-3;

                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 2rem;
                    border: 1px solid black;
                    box-shadow: 0 1.5rem 4rem rgba(black, .2);
                }
                &__heading {
                    position: absolute;
                    align-self: baseline;
                    left: 10%;
                    bottom: 10%;
                    font-size: 3rem;
                }
                &__date {
                    position: absolute;
                    align-self: baseline;
                    left: 10%;
                    bottom: 5%;
                    font-size: 1.5rem;
                }
            }

            &--back {
                background-image: linear-gradient(to right bottom, $colorful-yellow, $colorful-purple);
                transform: rotateY(180deg);
                border-radius: 2rem;
                border: 1px solid black;
                box-shadow: 0 1.5rem 4rem rgba(black, .2);

                &__body {
                    font-size: 2.5rem;
                    margin: 4rem 4rem;
                    color: $color-grey-dark-3;

                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

@include respond(tab-port) { 
    .blog {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-columns: repeat(2, 1fr);

        &__thumbnail {
            height: auto;
    
            &:hover &__side--front {
                transform: rotateY(0);
            }
    
            &__side {
                width: 100%;
                height: 15rem;
                position: relative;
    
                &--front {
    
                    &__img {
                        border-radius: 0;
                        border-top-left-radius: 2rem;
                        border-top-right-radius: 2rem;
                        height: 100%;
                    }
                    &__heading {
                        left: 7%;
                        bottom: 30%;
                    }
                    &__date {
                        left: 7%;
                        bottom: 5%;
                    }
                }
    
                &--back {
                    transform: rotateY(0);
                    border-radius: 0;
                    border-bottom-left-radius: 2rem;
                    border-bottom-right-radius: 2rem;
    
                    &__body {
                        font-size: 1.5rem;
                        margin: 2.5rem 4rem;
                        -webkit-line-clamp: 4;
                    }
                }
            }
        }
    }
}

@include respond(phone) { 
    .blog {
        display: flex;
        flex-direction: column;
    }
}

.blog-page {
    background-image: url('../../img/backgrounds/beige-background.jpg');
    background-color: $color-secondary;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    &__blog-details {
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 90%;
        margin-top: 4rem;
        margin-bottom: 0;
        opacity: 0.9;

        &__img {
            width: 90%;
            height: 20rem;
            object-fit: cover;
            align-self: center;
            margin: 2rem 2rem;

        }
        &__heading {
            padding: 1rem 5% 0 5%;
            font-size: 5rem;
            
        }
        &__content {
            padding: 3rem 5%;
            font-size: 2.5rem;
            
        }
        &__date {
            padding: 0 5%;
            
        }

    }
}