.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 3rem 6rem;
    margin: 0 3rem;
    padding: 4rem 2rem;

    &__link {
        text-decoration: none;

        &__first {
            grid-column: 1 / 3;
        }
    }

    &__thumbnail {
        background-color: $color-tertiary-2;
        width: 100%;
        height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__img {
            width: 80%;
            height: 80%;
            object-fit: cover;

        }
        &__heading {
            align-self: baseline;
            margin-left: 10%;
            
        }
        &__date {
            align-self: baseline;
            
        }
    }
}

.blog-page {
    background-color: darkblue;
    width: 100%;
    display: flex;
    justify-content: center;

    &__blog-details {
        background-color: $color-tertiary-2;
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        margin: 4rem 3rem;

        &__img {
            width: 90%;
            height: 20rem;
            object-fit: cover;
            align-self: center;
            margin: 2rem 2rem;

        }
        &__heading {
            padding: 1rem 5% 0 5%;
            font-size: 5rem;
            
        }
        &__content {
            padding: 3rem 5%;
            min-height: 35vh;
            font-size: 2.5rem;
            
        }
        &__date {
            padding: 0 5%;
            
        }

    }
}