.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 3rem 6rem;
    margin: 0 3rem;
    padding: 4rem 2rem;

    &__link {
        text-decoration: none;

        &__first {
            grid-column: 1 / 3;
        }
    }

    &__thumbnail {
        position: relative;
        height: 30rem;
        perspective: 200rem;
        -moz-perspective: 200rem;

        &:hover &__side--front {
            transform: rotateY(-180deg);
        }
        &:hover &__side--back {
            transform: rotateY(0);
        }

        &__side {
            width: 100%;
            height: 30rem;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;

            transition: all 1s ease;

            &--front {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                color: $color-grey-dark-3;

                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 2rem;
                    border: 1px solid black;
                }
                &__heading {
                    position: absolute;
                    align-self: baseline;
                    left: 10%;
                    bottom: 10%;
                    font-size: 3rem;
                }
                &__date {
                    position: absolute;
                    align-self: baseline;
                    left: 10%;
                    bottom: 5%;
                    font-size: 1.5rem;
                }
            }

            &--back {
                background-image: linear-gradient(to right bottom, $colorful-yellow, $colorful-purple);
                transform: rotateY(180deg);
                border-radius: 2rem;
                border: 1px solid black;

                &__body {
                    font-size: 2.5rem;
                    margin: 4rem 4rem;
                    color: $color-grey-dark-3;

                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.blog-page {
    background-color: $colorful-blue;
    width: 100%;
    display: flex;
    justify-content: center;

    &__blog-details {
        background-color: $color-tertiary-2;
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        margin: 4rem 3rem;

        &__img {
            width: 90%;
            height: 20rem;
            object-fit: cover;
            align-self: center;
            margin: 2rem 2rem;

        }
        &__heading {
            padding: 1rem 5% 0 5%;
            font-size: 5rem;
            
        }
        &__content {
            padding: 3rem 5%;
            min-height: 35vh;
            font-size: 2.5rem;
            
        }
        &__date {
            padding: 0 5%;
            
        }

    }
}