.personal {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5.5rem 3rem;
    height: 100%;
    position: relative;
    @include bottom-line-break;

    @include respond(tab-port) { 
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
    }

    &__photo {
        grid-column: 2 / 3;
        width: 100%;
        display: block;
        border: .4rem solid $color-grey-dark-3;
        border-radius: 7rem;
    }

    &__name {
        padding: 5rem;
        font-size: 12rem;
        text-align: center;
        line-height: 12rem;
        background-image: url(../../img/backgrounds/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-attachment: fixed;

        @include respond(phone) { 
            font-size: 6rem;
            padding: 3rem;
            line-height: 7rem;
        }

    }
}

.content {
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 2rem 5% 0;
    position: relative;
    @include bottom-line-break;

    @include respond(tab-port) { 
        grid-template-columns: 15% 85%;
    }
    
    &__header {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;

        @include respond(tab-port) { 
            margin-bottom: 2rem;
        }

    }

    &__pitch-paragraph {
        font-size: 2.5rem;
        line-height: 130%;
        padding: 2rem 6rem 4rem 3rem;
        
        @include respond(tab-port) { 
            padding: 2rem 2rem 4rem;
        }

    }

    &__projects {
        font-size: 2.5rem;
        line-height: 130%;
        padding: 2rem 6rem 4rem 3rem;
    }

    &__btn {
        grid-column: 2 / 3;
        margin: 0 40%;
        @include coloured-btn($color-secondary-dark-3, white);
    }
}