.not-found {
    position: relative;
    background-image: linear-gradient(to right bottom, $colorful-purple, $colorful-blue);
    width: 100vw;
    height: calc(100vh - $header-height);

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        height: 80%;
        background-color: $color-grey-light-1;
        border: 3px solid white;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &__header {
            font-size: 18rem;
            color: $color-purple;
            line-height: 1;
            margin-top: 2rem;


        }
        &__sub-header {
            font-size: 4rem;
            
        }
        &__home {
            @include coloured-btn($color-purple, black);
        }

    }
}
