.not-found {
    position: relative;
    background-image: linear-gradient(to right bottom, $colorful-purple, $colorful-blue);
    width: 100vw;
    height: calc(100vh - $header-height);

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        height: 80%;
        background-color: $color-grey-light-1;
        border: 3px solid white;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        &__header {
            font-size: 18rem;
            color: $color-purple;
            line-height: 1;
            margin-top: 2rem;


        }
        &__sub-header {
            font-size: 4rem;
            
        }
        &__home {
            width: 15rem;
            height: 8rem;
            margin-bottom: 4rem;

            background-color: white;
            border: 3px solid $color-purple;
            border-radius: 1rem;
            color: $color-purple;
            cursor: pointer;
            font-size: 2rem;
            font-weight: 600;
            line-height: 2rem;
            position: relative;
            touch-action: manipulation;
            transition: all .1s;
            box-shadow: $shadow-light;
              
            &:active {
                background-color: $color-purple;
                border-color: black;
                color: black;
                transform: scale(.95);
            }
        }

    }
}
