.projects {
    padding-bottom: 4rem;
    min-height: calc(100vh - $header-height);
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &__header {
            text-align: center;
            font-size: 3.5rem;
            margin-top: 3rem;
            color: black;
            width: 100%;
            background-color: rgba(white, 0.6);
        }
        &__link {
            text-decoration: none;
            width: 70%;
            margin-top: 3rem;
        }
    }

    &__thumbnail {
        background-color: rgba($color-tertiary-dark-2, .9);
        color: $color-grey-dark-3;
        width: 100%;
        height: 50vh;
        position: relative;
        border: 2px solid black;
        border-radius: 2rem;
        background-image: linear-gradient(153deg,transparent 0%, transparent 58%,rgba(white, 0.85) 58%), $website-url;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: $shadow-dark;

        @include respond(tab-port) { 
            background-image: linear-gradient(160deg,transparent 0%, transparent 52%,rgba(white, 0.85) 52%), $website-url;
        }

        &__heading {
            font-size: 6rem;
            position: absolute;
            top: 5%;
            left: 5%;
            z-index: 5;
            color: white;

            @include respond(phone) { 
                top: 0;
            }

        }
        &__img {
            width: 100%;
            height: 100%;
            position: relative;
            object-fit: cover;
            display:none;
        }
        &__desc-container {
            width: 35%;
            height: 35%;
            position: absolute;
            bottom: 5%;
            right: 5%;
            @include respond(tab-port) { 
                width: 50%;
            }
            @include respond(phone) { 
                width: 70%;
                bottom: 2%;
            }
        }
        &__description {
            position: relative;
            font-size: 2rem;
            text-align: center;
            border: .5rem inset white;

        }
        &__footer {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            
            @include respond(tab-port) { 
                width: 80%;
            }
            @include respond(phone) { 
                width: 95%;
            }
            &__date {
                font-size: 1.5rem;
                padding-right: 2rem;
                    
            }
            &__key {
                font-size: 1.5rem;
                width: 50%;
                    
            }
        }
    }
}
