.something {
    position: relative;
    // background-image: linear-gradient(to right bottom, $colorful-purple, $colorful-blue);
    width: 100vw;
    height: calc(100vh - $header-height);

    --s: 2.5rem; /* control the size */
    background:
      conic-gradient(at 50% calc(100%/6),$colorful-purple 60deg,#0000 0),
      conic-gradient(at calc(100%/6) 50%,#0000 240deg,$colorful-purple 0),
      conic-gradient(from 180deg at calc(100%/6) calc(500%/6),$colorful-purple 60deg,#0000 0),
      conic-gradient(from 180deg at calc(500%/6),#0000 240deg,$colorful-purple 0) calc(4*.866*var(--s)) 0,
      repeating-linear-gradient(-150deg,$colorful-red 0 calc(100%/6),#0000   0 50%),
      repeating-linear-gradient(-30deg, $colorful-yellow 0 calc(100%/6),$color-secondary 0 50%);
    background-size: calc(6*.866*var(--s)) calc(3*var(--s));

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        height: 80%;
        background-color: $color-secondary;
        border: 3px solid black;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        &__header {
            font-size: 6rem;
            color: $color-purple;
            line-height: 1;
            margin-top: 2rem;
            text-align: center;
        }
        &__sub-header {
            font-size: 4rem;
            margin: 2rem 10rem;
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0% 50%;
    }
}