.contact-me {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(black, .8);
    z-index: 4000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        height: 75%;
        max-height: calc((100vw * 0.75)/2);

        background-image: linear-gradient(105deg, 
                                        rgba(white, 0.7) 0%,
                                        rgba(white, 0.7) 40%,
                                        transparent 40%), 
                                        url('../../img/backgrounds/maya-background.jpg');
        background-color: $color-primary;
        background-repeat: no-repeat;
        background-size: 130%;
        background-position: bottom left;
        box-shadow: 0 2rem 4rem rgba(black, .2);
        border-radius: 3px;
        border: 3px solid $colorful-blue;
        color: $color-grey-dark-3;

        &__heading {      
            display: block;
            font-size: 6rem;
            font-weight: 400;
            letter-spacing: .3rem;
            margin: 3rem 5rem 2rem;
            line-height: 1;
            
            @include respond(tab-land) { 
                font-size: 4.5rem;
                line-height: .7;
            }
            @include respond(big-desktop) { 
                font-size: 9rem;
            }
        }
        &__heading-secondary {
            display: block;
            font-size: 3rem;
            font-weight: 300;
            margin: 2rem 5.5rem;
            width: 45%;

            @include respond(tab-land) { 
                font-size: 2rem;
                margin: 1rem 5.5rem;
            }
            @include respond(big-desktop) { 
                font-size: 4.5rem;
            }
        }
        &__heading-tertiary {
            display: block;
            font-size: 3rem;
            font-weight: 700;
            margin: 0 5.5rem;
            width: 40%;

            @include respond(tab-land) { 
                font-size: 2rem;
            }
            @include respond(big-desktop) { 
                font-size: 4.5rem;
            }
        }
        &__link {
            display: block;
            text-decoration: none;
            font-size: 3rem;
            font-weight: 700;
            margin: 0 5.5rem;
            width: 40%;

            @include respond(tab-land) { 
                font-size: 2rem;
            }
            @include respond(big-desktop) { 
                font-size: 4.5rem;
            }

        }
        @include respond(tab-port) { 
            height: 90%;
            max-height: 100%;
        
            background-image: linear-gradient(180deg, 
                                            rgba($color-primary, 1) 0%,
                                            rgba($color-primary, 1) 62%,
                                            transparent 75%), 
                                            url('../../img/backgrounds/maya-background.jpg');
            background-color: $color-primary;
            background-size: 130%;
    
        
            &__heading {
                text-align: center;
                font-size: 6rem;
                line-height: 1;
            }
            &__heading-secondary {
                text-align: center;
                font-size: 3.2rem;
                width: 80%;
                margin: 2.5rem 5.5rem;
        
            }
            &__heading-tertiary {
                text-align: center;
                font-size: 2.5rem;
                width: 80%;
    
            }
            &__link {
                text-align: center;
                font-size: 2.5rem;
                width: 80%;
        
            }
        }

        @include respond(phone) { 
            height: 70%;
            background-image: none;
            background-color: $color-primary;
        
            &__heading {
                font-size: 4rem;
                margin: 2rem 3rem;
            }
            &__heading-secondary {
                font-size: 2.5rem;
                margin: 2rem 1rem;
        
            }
            &__heading-tertiary {
                font-size: 2rem;
                margin: 2rem 1rem;
    
            }
            &__link {
                font-size: 2rem;
                margin: 2rem 1rem;
        
            }
        }
    }


    // OPEN STATES

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__close {
        &:link,
        &:visited {
            color: white;
            position: absolute;
            top: 1rem;
            right: 2.5rem;
            font-size: 6rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;

            @include respond(big-desktop) { 
                font-size: 10rem;
            }
            
            @include respond(phone) { 
                top: 0;
                right: 1rem;
            }
        }

        &:hover {
            color: black;
        }
    }
}